---
University Paris 1 Panthéon-Sorbonne 

Machine Learning

Dr. Nourhène BEN RABAH

---

# Lab 2: Data scaling, data normalization and data transformation 

#### You must send the notebook completed during the session on Discord.

---

##### Exercice1.

You will apply label encoding for the vote column and On-hot encoding for the region column.

In [7]:
import pandas as pnd

dfCategories = pnd.DataFrame (
    [ ['male', 'from US', 'uses Safari', 'approves'], 
      ['female', 'from Europe', 'uses Firefox', 'disaproves'] ,
      ['female', 'from US', 'uses Safari', 'approves'],
      ['male', 'from Europe', 'uses Safari', 'approves'],
      ['female', 'from US', 'uses Firefox', 'disaproves'] ,
      ['male', 'from Europe', 'uses Chrome', 'disaproves'] , 
      ['female', 'from Asia', 'uses Chrome', 'approves'],
      ['male', 'from Asia', 'uses Chrome', 'approves'] ],
    columns=['sex', 'region','browser', 'vote' ])

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform data
encoded_colors = label_encoder.fit_transform(dfCategories['vote'])

# Print encoded data
print("Encoded Colors:", encoded_colors)

one_hot_encoded = pnd.get_dummies(dfCategories['region'])

# Print One-Hot Encoded data
print("Encoded Data:")
print(one_hot_encoded)

Encoded Colors: [0 1 0 0 1 1 0 0]
Encoded Data:
   from Asia  from Europe  from US
0          0            0        1
1          0            1        0
2          0            0        1
3          0            1        0
4          0            0        1
5          0            1        0
6          1            0        0
7          1            0        0

##### Exercice2. IoT attack detection with Danmini.csv

In this exercice, you will import the Danmini Dataset (Danmini. csv) which contains data to predict whether the IoT attack is bashlite or Mirai on a Danmini Doorbel device. 

- 1) Start by discovering the dataset (number of rows, columns, column types, target value to predict, see first rows and last rows, ... (as we did in the first lab) 
- 2) Data cleaning (see missing values and perform data cleaning)
- 3) Data scaling, normalization 
- 4) data transformation (encode the numerical values). 

After these steps you can train your first ML algo, which we will discover in the next session.

In [54]:
import pandas as pd

# The Target value to predict is CDR 
# CDR - Clinical Dementia Rating (0 = no dementia, 0.5 = very mild AD, 1 = mild AD, 2 = moderate AD, 3 = severe AD)

# Datasets
df=pd.read_csv('oasis_cross-sectional.csv', delimiter=',')
df2=pd.read_csv('oasis_longitudinal.csv', delimiter=',')

#1# #DESCRIPTION OF DATA
# A # ### Data df (1st Dataset) ###
#Number of rows
number_of_rows = len(df)
print("Number of rows : ",number_of_rows)
#Columns
columns = df.shape[1]
print("Columns : ",columns)
#Columns Type
column_types = df.dtypes
print("Column types :", column_types)
# ten First rows
ten_first_rows = df.iloc[:10]
print("Ten first rows : \n ", ten_first_rows)
# ten Last rows
ten_last_rows = df.tail(10)
print("Ten last rows : \n", ten_last_rows)
#We look at the null values in df
print(df.isna().sum())

# A # ### Data df2 (2nd Dataset) ###
#Number of rows
number_of_rows = len(df2)
print("Number of rows : ",number_of_rows)
#Columns
columns = df2.shape[1]
print("Columns : ",columns)
#Columns Type
column_types = df2.dtypes
print("Column types :", column_types)
# ten First rows
ten_first_rows = df2.iloc[:10]
print("Ten first rows : \n ", ten_first_rows)
# ten Last rows
ten_last_rows = df2.tail(10)
print("Ten last rows : \n", ten_last_rows)
#We look at the null values in df_final
print(df2.isna().sum())

Number of rows :  436
Columns :  12
Column types : ID        object
M/F       object
Hand      object
Age        int64
Educ     float64
SES      float64
MMSE     float64
CDR      float64
eTIV       int64
nWBV     float64
ASF      float64
Delay    float64
dtype: object
Ten first rows :
                ID M/F Hand  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  \
0  OAS1_0001_MR1   F    R   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1  OAS1_0002_MR1   F    R   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2  OAS1_0003_MR1   F    R   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
3  OAS1_0004_MR1   M    R   28   NaN  NaN   NaN  NaN  1588  0.803  1.105
4  OAS1_0005_MR1   M    R   18   NaN  NaN   NaN  NaN  1737  0.848  1.010
5  OAS1_0006_MR1   F    R   24   NaN  NaN   NaN  NaN  1131  0.862  1.551
6  OAS1_0007_MR1   M    R   21   NaN  NaN   NaN  NaN  1516  0.830  1.157
7  OAS1_0009_MR1   F    R   20   NaN  NaN   NaN  NaN  1505  0.843  1.166
8  OAS1_0010_MR1   M    R   74   5.0  2.0  30.0  0.0  1636  0.689  1.073
9  OAS1_0011_MR1   F    R   52   3.0  2.0  30.0  0.0  1321  0.827  1.329

   Delay
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Ten last rows :
                 ID M/F Hand  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  \
426  OAS1_0202_MR2   F    R   23   NaN  NaN   NaN  NaN  1548  0.861  1.134
427  OAS1_0230_MR2   F    R   19   NaN  NaN   NaN  NaN  1577  0.849  1.113
428  OAS1_0236_MR2   F    R   20   NaN  NaN   NaN  NaN  1222  0.872  1.436
429  OAS1_0239_MR2   F    R   29   NaN  NaN   NaN  NaN  1438  0.822  1.221
430  OAS1_0249_MR2   F    R   28   NaN  NaN   NaN  NaN  1215  0.865  1.444
431  OAS1_0285_MR2   M    R   20   NaN  NaN   NaN  NaN  1469  0.847  1.195
432  OAS1_0353_MR2   M    R   22   NaN  NaN   NaN  NaN  1684  0.790  1.042
433  OAS1_0368_MR2   M    R   22   NaN  NaN   NaN  NaN  1580  0.856  1.111
434  OAS1_0379_MR2   F    R   20   NaN  NaN   NaN  NaN  1262  0.861  1.390
435  OAS1_0395_MR2   F    R   26   NaN  NaN   NaN  NaN  1283  0.834  1.368

     Delay
426   21.0
427   24.0
428    3.0
429   40.0
430    3.0
431    2.0
432   40.0
433   89.0
434    2.0
435   39.0
ID         0
M/F        0
Hand       0
Age        0
Educ     201
SES      220
MMSE     201
CDR      201
eTIV       0
nWBV       0
ASF        0
Delay    416
dtype: int64
Number of rows :  373
Columns :  15
Column types : Subject ID     object
MRI ID         object
Group          object
Visit           int64
MR Delay        int64
M/F            object
Hand           object
Age             int64
EDUC            int64
SES           float64
MMSE          float64
CDR           float64
eTIV            int64
nWBV          float64
ASF           float64
dtype: object
Ten first rows :
    Subject ID         MRI ID        Group  Visit  MR Delay M/F Hand  Age  EDUC  \
0  OAS2_0001  OAS2_0001_MR1  Nondemented      1         0   M    R   87    14
1  OAS2_0001  OAS2_0001_MR2  Nondemented      2       457   M    R   88    14
2  OAS2_0002  OAS2_0002_MR1     Demented      1         0   M    R   75    12
3  OAS2_0002  OAS2_0002_MR2     Demented      2       560   M    R   76    12
4  OAS2_0002  OAS2_0002_MR3     Demented      3      1895   M    R   80    12
5  OAS2_0004  OAS2_0004_MR1  Nondemented      1         0   F    R   88    18
6  OAS2_0004  OAS2_0004_MR2  Nondemented      2       538   F    R   90    18
7  OAS2_0005  OAS2_0005_MR1  Nondemented      1         0   M    R   80    12
8  OAS2_0005  OAS2_0005_MR2  Nondemented      2      1010   M    R   83    12
9  OAS2_0005  OAS2_0005_MR3  Nondemented      3      1603   M    R   85    12

   SES  MMSE  CDR  eTIV   nWBV    ASF
0  2.0  27.0  0.0  1987  0.696  0.883
1  2.0  30.0  0.0  2004  0.681  0.876
2  NaN  23.0  0.5  1678  0.736  1.046
3  NaN  28.0  0.5  1738  0.713  1.010
4  NaN  22.0  0.5  1698  0.701  1.034
5  3.0  28.0  0.0  1215  0.710  1.444
6  3.0  27.0  0.0  1200  0.718  1.462
7  4.0  28.0  0.0  1689  0.712  1.039
8  4.0  29.0  0.5  1701  0.711  1.032
9  4.0  30.0  0.0  1699  0.705  1.033
Ten last rows :
     Subject ID         MRI ID        Group  Visit  MR Delay M/F Hand  Age  \
363  OAS2_0183  OAS2_0183_MR3  Nondemented      3       732   F    R   68
364  OAS2_0183  OAS2_0183_MR4  Nondemented      4      2107   F    R   72
365  OAS2_0184  OAS2_0184_MR1     Demented      1         0   F    R   72
366  OAS2_0184  OAS2_0184_MR2     Demented      2       553   F    R   73
367  OAS2_0185  OAS2_0185_MR1     Demented      1         0   M    R   80
368  OAS2_0185  OAS2_0185_MR2     Demented      2       842   M    R   82
369  OAS2_0185  OAS2_0185_MR3     Demented      3      2297   M    R   86
370  OAS2_0186  OAS2_0186_MR1  Nondemented      1         0   F    R   61
371  OAS2_0186  OAS2_0186_MR2  Nondemented      2       763   F    R   63
372  OAS2_0186  OAS2_0186_MR3  Nondemented      3      1608   F    R   65

     EDUC  SES  MMSE  CDR  eTIV   nWBV    ASF
363    13  2.0  30.0  0.0  1506  0.740  1.165
364    13  2.0  30.0  0.0  1510  0.723  1.162
365    16  3.0  24.0  0.5  1354  0.733  1.296
366    16  3.0  21.0  1.0  1351  0.708  1.299
367    16  1.0  28.0  0.5  1704  0.711  1.030
368    16  1.0  28.0  0.5  1693  0.694  1.037
369    16  1.0  26.0  0.5  1688  0.675  1.040
370    13  2.0  30.0  0.0  1319  0.801  1.331
371    13  2.0  30.0  0.0  1327  0.796  1.323
372    13  2.0  30.0  0.0  1333  0.801  1.317
Subject ID     0
MRI ID         0
Group          0
Visit          0
MR Delay       0
M/F            0
Hand           0
Age            0
EDUC           0
SES           19
MMSE           2
CDR            0
eTIV           0
nWBV           0
ASF            0
dtype: int64

In [78]:
import pandas as pd

#Datasets
df=pd.read_csv('oasis_cross-sectional.csv', delimiter=',')
df2=pd.read_csv('oasis_longitudinal.csv', delimiter=',')

#The first and second datasets have the same data with the second having more attributes
#We prepare the dataset df2 for merging with df dataset, by dropping and renaming columns
#2) 4) Data Cleaning and Encoding
df2=df2.rename(columns={"EDUC" : "Educ"})
df2=df2.rename(columns={"Subject ID" : "ID"})
df=df.drop(columns=['Delay'])
#MR delay is an unknown parameter, Group is duplicated with CDR it says if a person has alzheimer or not but CDR already
#indicates if one has Alzheimer, Visit is the number of visits and MRI id is the MRI id 
df2=df2.drop(columns=['Group','Visit', 'MR Delay', 'MRI ID'])
df_final= pd.concat([df, df2], axis=0)
#Looking at the combined dataset
print(df_final.describe())
print("df_final head: ",df_final.head(5))
print("df_final tail: ",df_final.tail(5))
#We are dropping the null CDR as CDR is the target value and cannot have null values
df_final = df_final.dropna(subset = ['CDR'])
#The ID has no correlation with CDR so we drop the column
df_final=df_final.drop(columns='ID')
#In the dataset There are only right handed people so we drop the column
subject_left_handed = len(df_final[df_final['Hand'] != 'R'])
print(subject_left_handed)
df_final=df_final.drop(columns='Hand')
#We are looking at the remaining null values after dropping null CDR
print(df_final.isna().sum())
#SES is composed of discrete int values which represents the socioeconomical status of the person (from 1=highest status
#to 5=lower status), it is not pertinent to do a mean or median on this column and there are only 38 values missing
#which is negligeable
df_final=df_final.dropna(subset=['SES'])

#After this drop there is no more null values, We can start encoding the values

# Perform One-Hot Encoding on M/F (Gender) column, append the one hot encoded columns and delete the M/F column
one_hot_encoded_gender = pd.get_dummies(df_final['M/F'])
print("One-Hot Encoded Gender Data:")
print(one_hot_encoded_gender)
df_final= pd.concat([df_final, one_hot_encoded_gender], axis=1)
df_final= df_final.drop(columns=['M/F'])
print("df_final")
print(df_final.head(5))


#Perform Label Encoding on CDR (Clinical Dementia Rating) column, we perform label encoding because the numbers 
#represent the degree of dementia of a person
label_encoder = LabelEncoder()
df_final['encoded_class_cdr'] = label_encoder.fit_transform(df_final['CDR'])
df_final['CDR']=df_final['encoded_class_cdr']
df_final=df_final.drop(columns=['encoded_class_cdr'])
print("df_final")
print(df_final.head(5))

#Perform Label Encoding on SES (from 1=highest status to 5=lower status), it is a hierarchical value so it is pertinent
#to perform label encoding
label_encoder = LabelEncoder()
df_final['encoded_class_ses'] = label_encoder.fit_transform(df_final['SES'])
df_final['SES']=df_final['encoded_class_ses']
df_final=df_final.drop(columns=['encoded_class_ses'])
print("df_final")
print(df_final.head(5))

              Age        Educ        SES        MMSE         CDR         eTIV  \
count  809.000000  608.000000  570.00000  606.000000  608.000000   809.000000
mean    63.186650   10.184211    2.47193   27.234323    0.288651  1484.782447
std     23.117511    6.058388    1.12805    3.687980    0.377697   166.911689
min     18.000000    1.000000    1.00000    4.000000    0.000000  1106.000000
25%     49.000000    4.000000    2.00000   26.000000    0.000000  1361.000000
50%     72.000000   12.000000    2.00000   29.000000    0.000000  1475.000000
75%     80.000000   16.000000    3.00000   30.000000    0.500000  1583.000000
max     98.000000   23.000000    5.00000   30.000000    2.000000  2004.000000

             nWBV         ASF
count  809.000000  809.000000
mean     0.763037    1.197311
std      0.059401    0.133031
min      0.644000    0.876000
25%      0.715000    1.108000
50%      0.754000    1.190000
75%      0.817000    1.290000
max      0.893000    1.587000
df_final head:                ID M/F Hand  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0  OAS1_0001_MR1   F    R   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1  OAS1_0002_MR1   F    R   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2  OAS1_0003_MR1   F    R   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
3  OAS1_0004_MR1   M    R   28   NaN  NaN   NaN  NaN  1588  0.803  1.105
4  OAS1_0005_MR1   M    R   18   NaN  NaN   NaN  NaN  1737  0.848  1.010
df_final tail:              ID M/F Hand  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
368  OAS2_0185   M    R   82  16.0  1.0  28.0  0.5  1693  0.694  1.037
369  OAS2_0185   M    R   86  16.0  1.0  26.0  0.5  1688  0.675  1.040
370  OAS2_0186   F    R   61  13.0  2.0  30.0  0.0  1319  0.801  1.331
371  OAS2_0186   F    R   63  13.0  2.0  30.0  0.0  1327  0.796  1.323
372  OAS2_0186   F    R   65  13.0  2.0  30.0  0.0  1333  0.801  1.317
0
M/F      0
Age      0
Educ     0
SES     38
MMSE     2
CDR      0
eTIV     0
nWBV     0
ASF      0
dtype: int64
One-Hot Encoded Gender Data:
     F  M
0    1  0
1    1  0
2    1  0
8    0  1
9    1  0
..  .. ..
368  0  1
369  0  1
370  1  0
371  1  0
372  1  0

[570 rows x 2 columns]
df_final
   Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  F  M
0   74   2.0  3.0  29.0  0.0  1344  0.743  1.306  1  0
1   55   4.0  1.0  29.0  0.0  1147  0.810  1.531  1  0
2   73   4.0  3.0  27.0  0.5  1454  0.708  1.207  1  0
8   74   5.0  2.0  30.0  0.0  1636  0.689  1.073  0  1
9   52   3.0  2.0  30.0  0.0  1321  0.827  1.329  1  0
df_final
   Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  F  M
0   74   2.0  3.0  29.0    0  1344  0.743  1.306  1  0
1   55   4.0  1.0  29.0    0  1147  0.810  1.531  1  0
2   73   4.0  3.0  27.0    1  1454  0.708  1.207  1  0
8   74   5.0  2.0  30.0    0  1636  0.689  1.073  0  1
9   52   3.0  2.0  30.0    0  1321  0.827  1.329  1  0
df_final
   Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  F  M
0   74   2.0    2  29.0    0  1344  0.743  1.306  1  0
1   55   4.0    0  29.0    0  1147  0.810  1.531  1  0
2   73   4.0    2  27.0    1  1454  0.708  1.207  1  0
8   74   5.0    1  30.0    0  1636  0.689  1.073  0  1
9   52   3.0    1  30.0    0  1321  0.827  1.329  1  0

In [84]:
#3) Data normalization
#There ranges between the values such as eTIV, nWBV or Educ is wide so we found pertinent to use
#as seen in the df_final.describe() before

from sklearn.preprocessing import MinMaxScaler
import numpy as np

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler to the data and transform the data
df_final_normalized = scaler.fit_transform(df_final)

df_final_normalized = pd.DataFrame(df_final_normalized, columns=df_final.columns)
print("Original Data:\n", df_final)
print("Normalized Data:\n", df_final_normalized)

Original Data:
      Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF  F  M
0     74   2.0    2  29.0    0  1344  0.743  1.306  1  0
1     55   4.0    0  29.0    0  1147  0.810  1.531  1  0
2     73   4.0    2  27.0    1  1454  0.708  1.207  1  0
8     74   5.0    1  30.0    0  1636  0.689  1.073  0  1
9     52   3.0    1  30.0    0  1321  0.827  1.329  1  0
..   ...   ...  ...   ...  ...   ...    ...    ... .. ..
368   82  16.0    0  28.0    1  1693  0.694  1.037  0  1
369   86  16.0    0  26.0    1  1688  0.675  1.040  0  1
370   61  13.0    1  30.0    0  1319  0.801  1.331  1  0
371   63  13.0    1  30.0    0  1327  0.796  1.323  1  0
372   65  13.0    1  30.0    0  1333  0.801  1.317  1  0

[570 rows x 10 columns]
Normalized Data:
           Age      Educ   SES      MMSE       CDR      eTIV      nWBV  \
0    0.630769  0.045455  0.50  0.961538  0.000000  0.265033  0.502538
1    0.338462  0.136364  0.00  0.961538  0.000000  0.045657  0.842640
2    0.615385  0.136364  0.50  0.884615  0.333333  0.387528  0.324873
3    0.630769  0.181818  0.25  1.000000  0.000000  0.590200  0.228426
4    0.292308  0.090909  0.25  1.000000  0.000000  0.239421  0.928934
..        ...       ...   ...       ...       ...       ...       ...
565  0.753846  0.681818  0.00  0.923077  0.333333  0.653675  0.253807
566  0.815385  0.681818  0.00  0.846154  0.333333  0.648107  0.157360
567  0.430769  0.545455  0.25  1.000000  0.000000  0.237194  0.796954
568  0.461538  0.545455  0.25  1.000000  0.000000  0.246102  0.771574
569  0.492308  0.545455  0.25  1.000000  0.000000  0.252784  0.796954

          ASF    F    M
0    0.604782  1.0  0.0
1    0.921238  1.0  0.0
2    0.465541  1.0  0.0
3    0.277075  0.0  1.0
4    0.637131  1.0  0.0
..        ...  ...  ...
565  0.226442  0.0  1.0
566  0.230661  0.0  1.0
567  0.639944  1.0  0.0
568  0.628692  1.0  0.0
569  0.620253  1.0  0.0

[570 rows x 10 columns]

##### Project 

Let's move on to phase 1. Data preparation: 
You'll prepare the data by performing operations such as data cleaning, data normalization and transformation,
To do this, you'll need to:
 - Describe your data, (number of rows, columns, column types, target value to predict, see first rows and last rows, ... (as we did in the first lab). 
- Describe the data cleaning technique(s) used (justify the decisions made)
- Describe the data normalization, scaling and transformation methods used and justify the decisions made. 
- The code must be commented and explained. 

= You must send me your notebooks before the end of session 2.